/*---------- Section 1 : Présentation ------------*/

#presentation { 
    width: 100%;
  height: 800px;
  margin-top: 70px;
  background-image: url('../visuel/background/home_bg1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.symbols{
    font-family: "Josefin Slab", serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
}
#presentation h2{
    color: white;
    font-family: "Josefin Sans", serif;
    letter-spacing: 10%;
    font-size: 22pt;
    text-align: center;
}

.zone_pres{
    width: 90%;
    height: 45%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icone_lien{
    width: 20%;
    height: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icone_lien img{
    background-color: rgba(170, 155, 155, 0.5);
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.icone_lien a{
    text-align: center;
}

.texte_pres{
    width: 75%;
    height: 60%;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    font-family: "Josefin Sans", serif;
}

.zone_pres p{
    color: white;

}

.zone_pres h2{
    color: white;
}

.zone_pres a{
    color: white;
}

/* --------- Section 2 : Artiste du moment-------- */
.arrow{
    width: 50px;
    height: 50px;

}

#artiste_moment {
    width: 80%;
    height: 550px;
    margin-top: 70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#artiste_moment h2{
    color: white;
}

.slider {
    position: relative;
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

  
.images {
    display: flex;
    transition: transform 0.5s ease;
}

  
.images img {
    width: 100px;
    margin: 0 10px;
    opacity: 0.7;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.images img.active {
    width: 150px;
    transform: scale(1.2);
    opacity: 1;
}

  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

/* #slide_artiste {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

/* #slide_artiste .photo_artiste{
    width: 300px;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#slide_artiste .photo_artiste img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#slide_artiste .photo_artiste a{
    font-size: 15pt;
    color: white;
    text-decoration: none;
} */


/* --------- Section 3 : A propos-------- */
#bg_a_propos{
    width: 100%;
    height: fit-content;
    background-color: rgba(8, 7, 7, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#a_propos {
    width: 60%;
  height: 550px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(8, 7, 7, 0.63);
  color: white;
  border-radius: 25px;
  margin-bottom: 60px;
  font-family: "Josefin Sans", serif;
}

#a_propos div {
    width: 70%;
    height: fit-content;
    margin-left: 20px;
}
